[Unit]
Description=Docker Image Registry
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/skydns/envvars
TimeoutStartSec=20min
ExecStartPre=/usr/bin/bash -c "/var/lib/apps/bin/is_loaded registry:latest \
	|| /var/lib/apps/bin/dkload registry-latest.tgz \
	|| docker pull registry:latest"
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStart=/usr/bin/docker run  --rm --name %n -p 80:5000 \
        -v /var/lib/apps-data/registry:/data -v /var/lib/apps/registry:/registry-conf \
        -e DOCKER_REGISTRY_CONFIG=/registry-conf/config.yml \
        -e SETTINGS_FLAVOR=prod registry:latest
#ExecStartPost=/var/lib/apps/bin/dns-set %p $COREOS_PUBLIC_IPV4
ExecStartPost=/var/lib/apps/bin/dns-set %p "${COREOS_PRIVATE_IPV4}"
ExecStopPost=-/var/lib/apps/bin/dns-delete %p
RestartSec=10
Restart=always