[Unit]
Description=WebApp Green
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/blue-green/envvars
TimeoutStartSec=0
ExecStartPre=/var/lib/apps/bin/dkpull $IMAGE
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/sh -c "/usr/bin/docker run --rm --name %n ${OPTS_GREEN} $IMAGE"
ExecStop=/usr/bin/docker stop %n
# Registering the DNS name
ExecStartPost=/bin/bash -c "sleep 2; /var/lib/apps/bin/dns-set %n \"$(docker inspect --format '{{ .NetworkSettings.IPAddress }}' %n)\""
# Clean up
ExecStopPost=-/var/lib/apps/bin/dns-delete %n
RestartSec=2
Restart=always