[Unit]
Description=influxdb
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/influxdb/envvars
TimeoutStartSec=20min
ExecStartPre=/var/lib/apps/bin/dkpull ${IMAGE}

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/bash -c "/usr/bin/docker run --rm --name %n ${OPTS} ${IMAGE}  ${ARGS}"
ExecStartPost=/var/lib/apps/bin/dns-set %p $COREOS_PUBLIC_IPV4
ExecStopPost=-/var/lib/apps/bin/dns-delete %p
ExecStop=-/usr/bin/docker stop %n
RestartSec=5
Restart=always
Restart=on-failure

[X-Fleet]
# n1 may has more memory
MachineMetadata=host=n1
