[Unit]
Description=mongo
After=registry.service
Requires=skydns.service
After=skydns.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/mongo/envvars
TimeoutStartSec=0
ExecStartPre=/var/lib/apps/bin/dkpull $IMAGE
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/sh -c "/usr/bin/docker run  --rm --name %n $OPTS $IMAGE"
ExecStop=/usr/bin/docker stop %n
# Registering the DNS name
ExecStartPost=/bin/bash -c "/var/lib/apps/bin/dns-set 'mongo' ${COREOS_PRIVATE_IPV4}"
# Clean up
ExecStopPost=-/var/lib/apps/bin/dns-delete 'mongo'
RestartSec=10
Restart=always
